@font-face {
  font-family: 'Monsta Fectro';
  src: url('/fonts/monsta-fectro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
